<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campers Exitosos</title>
    <link rel="stylesheet" href="../styles/camperSucces.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>CAMPERS</h1>
            <h2>EXITOSOS</h2>
        </div>
        
        <div class="cards-container">
            <a href="#" class="card">
                <img src="../assets/img/Christopher Daniel Ramirez Buitrago 1.svg" alt="Cristopher Buitrago" class="card-image">
                <div class="card-content">
                    <h3>Cristopher Buitrago</h3>
                    <h4>Fullstack Software Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Justo suscipit pharetra semectus duis, modi himenaeos liquido dopibus fermentum pellentesque vivamus vulputate mollis magnus sed.</p>
                </div>
            </a>

            <a href="#" class="card">
                <img src="../assets/img/Silvia Giovanna Angarita Castillo 1.svg" alt="Silvia Angarita" class="card-image">
                <div class="card-content">
                    <h3>Silvia Angarita</h3>
                    <h4>Fullstack Software Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Justo suscipit pharetra semectus duis, modi himenaeos liquido dopibus fermentum pellentesque vivamus vulputate mollis magnus sed.</p>
                </div>
            </a>

            <a href="#" class="card">
                <img src="../assets/img/Hernan Mendez Guerrero 1.svg" alt="Hernan Mendez" class="card-image">
                <div class="card-content">
                    <h3>Hernan Mendez</h3>
                    <h4>Fullstack Software Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Justo suscipit pharetra semectus duis, modi himenaeos liquido dopibus fermentum pellentesque vivamus vulputate mollis magnus sed.</p>
                </div>
            </a>

            <a href="#" class="card">
                <img src="../assets/img/Angie Katherine Ardila Parra 1.svg" alt="Angie Ardila" class="card-image">
                <div class="card-content">
                    <h3>Angie Ardila</h3>
                    <h4>Fullstack Software Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Justo suscipit pharetra semectus duis, modi himenaeos liquido dopibus fermentum pellentesque vivamus vulputate mollis magnus sed.</p>
                </div>
            </a>
        </div>

        <div class="navigation">
            <button class="nav-button">←</button>
            <button class="nav-button">→</button>
        </div>
    </div>
</body>
</html>
